<% @movies.each do |movie| %>
  <%= image_tag movie.image_url.to_s, class: "image_edit" %>
  <%= link_to image_tag(movie.poster_image_url), movie_path(movie), class: "image_edit" %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Director: <%= movie.director %> | Length: <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %> </p>
  <%= movie.review_average %>/10
  <hr>
<% end %>
