<strong><%= link_to "Back to movies", movies_path %></strong>
<h1>Current Users</h1>
<%= paginate @users %>

<% @users.each do |user| %>
  <p><strong>Name:</strong> <%= user.full_name %></p>
  <p><strong>Email:</strong> <%= user.email %></p>
  <%= link_to "Remove this user from database", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"%>
  <hr>
<% end %>

